extends ../../../layouts/E-Commerce/e-commerce-layout

block styles
    link(rel="stylesheet", type="text/css", href="/stylesheets/E-Commerce/product-detail.css")

block content
    main
        h2.detail_title #{product.title}
        .detail_block
            img.detail_image(src=product.imageUrl)
            h4 Description:
            p #{product.description}
            h4 Price:
            p #{product.price}
            form(action="/eCommerce/cart", method="POST")
                input(type="hidden", value=product._id, name="productId")
                if isLoggedIn
                    button.btn(type="submit") Add to Cart
