extends ../../../layouts/E-Commerce/e-commerce-layout

block styles
    link(rel="stylesheet", type="text/css", href="/stylesheets/product-list.css")

block content
    main
        if prods.length > 0
            each product in prods
                .product-area
                    .product-tile
                        .product-caption
                            h3 #{product.title}
                        .product-image-area
                            img.product-image(src=product.imageUrl)
                        .product-info-area
                            h4 Description:
                            p #{product.description}
                            h4 Price:
                            p #{"$" + product.price}
                            a.btn(href=("/eCommerce/admin/edit-product/" + product._id + "?edit=true")) Edit
                            form(action="/eCommerce/admin/delete-product/", method="POST")
                                input(type="hidden", value=product._id, name="productId")
                                button.btn(type="submit", style="margin-left: 10px") Delete
        else
            h1 No Products Found!